# Modul python operators & control flow

## Operator Aritmatika

In [ ]:
x = 5
y = 2

In [ ]:
print('x + y =', x+y) # Addition
print('x - y =', x-y) # Subtraction
print('x * y =', x*y) # Multiplication
print('x / y =', x/y) # Division
print('x // y =', x//y) # Floor Division
print('x ** y =', x**y) # Exponent

# Comparison operators

In [ ]:
x = 5
y = 3

In [ ]:
print('x > y =', x>y) # Greater than
print('x < y =', x<y) # Less than
print('x == y =', x==y) # Equal to
print('x != y =', x!=y) # Not equal to
print('x >= y =', x>=y) # Greater than or equal to
print('x <= y =', x<=y) # Less than or equal to

# Logical operators

In [ ]:
x = True
y = False

In [ ]:
print('x and y is', x and y) # AND logic

print('x or y is', x or y) # OR logic

print('not x is', not x) # NOT logic

# Identity operators

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

In [ ]:
print(x1 is not y1) # Identity is not same?

print(x2 is y2) # Identity is same?

print(x3 is y3) # Identity is same?

# Membership operators

In [ ]:
x = 'Hello world'
y = {1:'a', 2:'b'}

In [ ]:
print('H' in x) # Is member?

print('hello' not in x) # Is not member?

print(1 in y) # Is member?

print('a' in y) # is member?

# Input function di python

In [ ]:
# Taking input from the user
name = input("Enter your name: ")

# Output
print("Hello", name)

# Control Flow: if else (nested if else)

In [ ]:
nilai = int(input("Masukkan nilai mata kuliah: "))

if nilai >= 80:
    print("Nilai anda adalah A")
elif nilai >= 70:
    print("Nilai anda adalah B")
elif nilai >= 50:
    print("Nilai anda adalah C")
elif nilai >= 20:
    print("Nilai anda adalah D")
elif nilai < 20 and nilai != 0:
    print("Nilai anda adalah E")
elif nilai == 0:
    print("Nilai anda adalah F")

In [ ]:
var = int(input("Input nilai: "))

if var < 200:
    print("Expression value is less than 200")
    if var == 150:
        print("Which is 150")
    elif var == 100:
        print("Which is 100")
    elif var == 50:
        print("Which is 50")
    elif var < 50:
        print("Expression value is less than 50")
else:
    print("Could not find true expression")

print("Good bye")

# Loop: for loop

In [ ]:
lst = ["Wiley", 'python', "pyspark", "data", "Engineering"]

for i in range (len(lst)):
    print(lst[i])

In [ ]:
for j in range (0,10):
  print(j)

# Loop break

In [ ]:
for letter in 'for loop python':

    # break the loop as soon it sees 'p'
    if letter == 'p':
        break

    print('Current Letter :', letter)

# Loop: continue

In [ ]:
for letter in 'for loop python':

    # break the loop as soon it sees 'p'
    if letter == 'p':
        continue

    print('Current Letter :', letter)

# Loop: pass

In [ ]:
for letter in 'for loop python':
    pass

print("Hello from Python")

# List comprehension

In [ ]:
# List comprehension without condition
# [f(x)] for x in sequence]

mylist = [2,3,6,5,9]
sqlist = [x**2 for x in mylist]
print(sqlist)

In [ ]:
# List comprehension with if condition
# [f(x)] for x in sequence condition]

sqevenlist = [x**2 for x in mylist if x%2==0]
print(sqevenlist)

In [ ]:
# List comprehension with if condition and else
# template 3: [f(x)] if condition else g(x) for x in sequence]
# for even numbers - get square, odd nymber get cube

customlist = [x**2 if x%2==0 else x**3 for x in mylist]
print(customlist)

# Dictionary comprehension

In [ ]:
# Dictionary comprehension
# without condition: {key:value for vars in sequence}
mydic = {"apple":20, "mango":30, 'banan':50, 'grapes':40, 'watermelon':80}
# add 10 with price of each fruit
newdic = {key:value+10 for (key,value) in mydic.items()}
print(newdic)

In [ ]:
# Adding conditions: {key:value for vars in sequence if condition}
# extracting dictionary of fruits having price more than 50
newdic = {key:value for (key,value) in mydic.items() if value>50}
print(newdic)

In [ ]:
# Adding conditions: {key:(value if condition else value2) for vars in sequence}
# increasing prices for fruits having price less than 50
newdic = {key:(value+10 if value<50 else value) for (key,value) in mydic.items()}
print(newdic)